# Ignore Visual Studio temporary files
*.ipch
*.pdb
*.pch
*.ilk
*.vsidx
*.db
*.lib
*.cmake
build/x64/
build/lib/
build/CMakeFiles/
build/bin/
build/ZERO_CHECK.dir/
build/WIN_PDB64/
build/vst3sdk/
build/.vs/
build/CMakeCache.txt
